{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body>

<p style="margin-bottom: 1em;">{% trans "Dear Sir or Madam," %}</p>

<p style="margin-bottom: 1em;">{% trans "Please click on the following link to complete the email change process with TempSurge:" %}</p>

<p style="margin-bottom: 1em;"><a href="{{ change_email_url }}">{{ change_email_url }}</a></p>

<p style="margin-bottom: 1em;">
{% trans "Kind regards," %}<br />
{% trans "TempSurge Team" %}
</p>

</body>
</html>