{% extends "agencies/base.html" %}
{% load static from staticfiles %}
{% load form %}

{% block title %}Tempsurge - Employee Transportation{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="icon-home home-icon"></i>
        <a href="/">Home</a>
    </li>
    <li>Employees</li>
    <li>{{ user.first_name }} {{ user.last_name }}</li>
    <li class="active">Transportation</li>
{% endblock %}

{% block pageheader %}
    <h1>
        Employees
        <small>
            <li class="icon-double-angle-right"></li>
            {{ user.first_name }} {{ user.last_name }}
            <i class="icon-double-angle-right"></i>
            Transportation
        </small>
    </h1>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="row">
        <div class="col-xs-12">
            {% if user_form.errors or profile_form.errors or temp_form.errors %}
                {% include "tempsurge/forms/errors.html" %}
            {% endif %}

            <form action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">{% csrf_token %}
                {% include "tempsurge/forms/field.html" with field=transportation_form.transportation_available %}
                {% include "tempsurge/forms/field.html" with field=transportation_form.transportation_type %}
                {% include "tempsurge/forms/field.html" with field=transportation_form.transportation_details %}
                {% include "tempsurge/forms/field.html" with field=transportation_form.license_state %}
                {% include "tempsurge/forms/field.html" with field=transportation_form.license_number %}
                {% include "tempsurge/forms/field.html" with field=transportation_form.license_class %}
                {% include "tempsurge/forms/field.html" with field=transportation_form.dmv_check %}
                {% include "tempsurge/forms/field.html" with field=transportation_form.license_expire %}

                {% include "tempsurge/forms/submit.html" %}
            </form>
        </div>
    </div>
{% endblock %}