{% extends "agencies/base.html" %}
{% load static from staticfiles %}
{% load form %}

{% block title %}Tempsurge - Employee Listing{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="icon-home home-icon"></i>
        <a href="/">Home</a>
    </li>
    <li>Employees</li>
    <li class="active">Search</li>
{% endblock %}

{% block pageheader %}
    <h1>
        Employees
        <small>
            <i class="icon-double-angle-right"></i>
            Search
        </small>
    </h1>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="row">
    <div class="col-xs-12">
        {% if messages %}
            {% for message in messages %}
                {% if message.extra_tags == 'temp_deleted' %}
                    {% include 'tempsurge/components/alert.html' with connotation='success' message=message %}
                {% endif %}
            {% endfor %}
        {% endif %}

        <p class="text-right">
            <a href="{% url "agencies_temps_add" %}" class="btn btn-sm btn-primary">New Employee</a>
        </p>

        <div class="well">
            <form action="{{ request.get_full_path }}" method="get" class="form-inline" role="form">{% csrf_token %}
                {{ user_form.last_name }}
                {{ user_form.first_name }}
                {{ temp_form.ssn }}
                {{ user_form.id }}
                {{ temp_form.active }}
                {{ rep_form.rep }}
                {{ branch_form.branch }}
                {{ interest_code_form.interest_code }}

                <button type="submit" class="btn btn-purple btn-sm">
                    Search
                    <i class="icon-search icon-on-right bigger-110"></i>
                </button>
                <a href="{% url "agencies_temps_listing" %}" class="btn btn-default btn-sm">
                    Clear
                    <i class="icon-remove icon-on-right bigger-110"></i>
                </a>
            </form>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="table-responsive">
            <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">
                        <label>
                            <input type="checkbox" class="ace">
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th class="hidden-480">Branch</th>
                    <th>Phone</th>
                    <th>Is Active</th>
                    <th>Is Assigned</th>
                    <th class="hidden-480">Last Message</th>
                    <th class="hidden-480">Zip Code</th>
                    <th class="hidden-480">Has Resume</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                {% for user in users %}
                    <tr class="selected">
                        <td class="center">
                            <label>
                                <input type="checkbox" class="ace">
                                <span class="lbl"></span>
                            </label>
                        </td>

                        <td>
                            <a href="{% url "agencies_temps_show" user.id %}">{{ user.id }}</a>
                        </td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.first_name }}</td>
                        <td class="hidden-480">
                            {% for branch in user.temp.branch.all %}
                                {{ branch.branch_name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>

                        <td>
                            {{ user.userprofile.phone }}{% if user.userprofile.phone and user.userprofile.cell_phone %}, {% endif %}{{ user.userprofile.cell_phone }}
                        </td>
                        <td>
                            {% if user.temp.active %}
                                <span class="label label-sm label-success">Active</span>
                            {% else %}
                                <span class="label label-sm label-danger">Inactive</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.temp.assigned %}
                                <span class="label label-sm label-success">Assigned</span>
                            {% else %}
                                <span class="label label-sm label-warning">Unassigned</span>
                            {% endif %}
                        </td>
                        <td class="hidden-480">
                            {% if user.temp.last_message %}
                                {{ user.temp.last_message }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="hidden-480">{{ user.userprofile.zip }}</td>
                        <td class="hidden-480">
                            {% if user.temp.has_resume %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </td>

                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                <a href="{% url "agencies_temps_show" user.id %}" class="btn btn-xs btn-success">
                                    <i class="icon-ok bigger-120"></i>
                                </a>

                                <a href="{% url "agencies_temps_edit" user.id %}" class="btn btn-xs btn-info">
                                    <i class="icon-edit bigger-120"></i>
                                </a>

                                <a href="#" data-id="{{ user.id }}" id="big-delete-confirm-{{ user.id }}" class="btn btn-xs btn-danger">
                                    <i class="icon-trash bigger-120"></i>
                                </a>

                                <a href="" class="btn btn-xs btn-warning">
                                    <i class="icon-flag bigger-120"></i>
                                </a>
                            </div>

                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-cog icon-only bigger-110"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                        <li>
                                            <a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
                                                    <span class="blue">
                                                        <i class="icon-zoom-in bigger-120"></i>
                                                    </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
                                                    <span class="green">
                                                        <i class="icon-edit bigger-120"></i>
                                                    </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
                                                    <span class="red">
                                                        <i class="icon-trash bigger-120"></i>
                                                    </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="12">
                            <div class="text-center"><h5>Your search yielded no results.</h5></div>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>

            {% if users %}
                <ul class="pager">
                    {% if users.has_previous %}
                        <li class="previous">
                            <a href="{{ query_string }}page={{ users.previous_page_number }}">← Previous</a>
                        </li>
                    {% endif %}

                    <li class="">
                        <a>Page {{ users.number }} of {{ users.paginator.num_pages }}</a>
                    </li>

                    {% if users.has_next %}
                        <li class="next">
                            <a href="{{ query_string }}page={{ users.next_page_number }}">Next →</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /span -->
    </div>
{% endblock %}

{% block foot %}
    <script src="{% static "accounts/javascripts/app.js" %}"></script>

    <script src="{% static "vendor/ace/js/bootbox.min.js" %}"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            $("a[id^='big-delete-confirm']").click(function (e) {
                e.stopImmediatePropagation();

                var user_id = $(this).data("id");

                bootbox.confirm("Are you sure you want to permanently delete this employee?", function (result) {
                    if (result) {
                        window.location = '/agencies/employees/delete/' + user_id
                    }
                });

                return false;
            });
        });
    </script>
{% endblock %}