{% extends "agencies/base.html" %}
{% load static from staticfiles %}
{% load form %}

{% block title %}Tempsurge - Customer Misc{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="icon-home home-icon"></i>
        <a href="/">Home</a>
    </li>
    <li>Customer</li>
    <li class="active">Misc</li>
{% endblock %}

{% block pageheader %}
    <h1>
    	<a href="{% url "agencies_customers_list" %}">Customer</a>    	
        
        <small>
            <i class="icon-double-angle-right"></i>
            Customer #{{identifier}}
            <i class="icon-double-angle-right"></i>
            Misc
        </small>
    </h1>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "vendor/ace/css/chosen.min.css" %}"/>

    <style>
        #id_interest_codes_chosen {
            width: 100% !important;
        }
    </style>
{% endblock %}

{% block content %}
    {{ block.super }}
    <a href="{% url 'agencies_customers_backtosearch' %}">Back to Search</a>
    <p class="text-right">
        <a href="{% url 'agencies_customers_update' identifier %}" class="btn btn-xs btn-success">Details</a>
        <a href="{% url 'agencies_customers_billingsetup' identifier %}" class="btn btn-xs btn-success">Billing Setup</a>
        <a href="{% url 'agencies_customers_creditpayroll' identifier %}" class="btn btn-xs btn-success">Credit and Payroll</a>    
        <a href="#" data-id="{{ identifier }}" id="customer-delete-confirm-{{ identifier }}" class="btn btn-xs btn-danger">Delete</a>    
    </p>

    <div class="row">
        <div class="col-xs-12">
            {% if misc_form.errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>

                    <strong>
                        <i class="icon-remove"></i>
                        Error!
                    </strong>

                    Please check the highlighted fields.
                    <br>
                </div>
            {% endif %}

            <form action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">{% csrf_token %}
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-16">
                        <li class="active">
                            <a data-toggle="tab" href="#edit-misc">
                                <i class="green icon-edit bigger-125"></i>
                                Miscellaneous
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#edit-creditcard">
                                <i class="green icon-edit bigger-125"></i>
                                Credit Card
                            </a>
                        </li>                        
                    </ul>

                    <div style="display: none;">
                    	{% include "tempsurge/forms/field.html" with field=misc_form.user %}
                   	</div>
                   	
                    <div class="tab-content profile-edit-tab-content">

                        {# Miscellaneous #}

                        <div id="edit-misc" class="tab-pane active">
                        	
                            {% include "tempsurge/forms/field.html" with field=misc_form.edi_rpt %}
                            {% include "tempsurge/forms/field.html" with field=misc_form.sic_code %}
                            {% include "tempsurge/forms/field.html" with field=misc_form.alternate_customerid %}
                            {% include "tempsurge/forms/field.html" with field=misc_form.desired_gm %}
                            {% include "tempsurge/forms/field.html" with field=misc_form.alternate_branch_name %}
                            {% include "tempsurge/forms/field.html" with field=misc_form.default_permanent_order %}
                            {% include "tempsurge/forms/field.html" with field=misc_form.federal_employerid %}
                            {% include "tempsurge/forms/field.html" with field=misc_form.third_shift_starts_sunday %}
                            {% include "tempsurge/forms/field.html" with field=misc_form.auto_factor_invoices %}

                        </div>

                        {# redit Card #}

                        <div id="edit-creditcard" class="tab-pane">

                            {% include "tempsurge/forms/field.html" with field=misc_form.credit_number %}
                            {% include "tempsurge/forms/field.html" with field=misc_form.card_type %}
                            {% include "tempsurge/forms/field.html" with field=misc_form.card_expiration %}
                            {% include "tempsurge/forms/field.html" with field=misc_form.name_on_card %}
                        	
                        </div>

                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="icon-ok bigger-110"></i>
                            Save
                        </button>

                        &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block foot %}
    <script src="{% static "vendor/ace/js/chosen.jquery.min.js" %}"></script>

    <script src="{% static "vendor/ace/js/bootbox.min.js" %}"></script>
    
    <script type="text/javascript">
        
        jQuery(function ($) {
            $("a[id^='customer-delete-confirm']").click(function (e) {
                e.stopImmediatePropagation();

                var customer_id = $(this).data("id");

                bootbox.confirm("Are you sure you want to permanently delete this customer?", function (result) {
                    if (result) {
                        window.location = '/agencies/customers/delete/' + customer_id
                    }
                });

                return false;
            });
        });

    </script>
{% endblock %}