{% extends "employers/base.html" %}
{% load static from staticfiles %}
{% load form %}

{% block title %}Tempsurge - Display Transaction Details{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="icon-home home-icon"></i>
        <a href="/">Home</a>
    </li>
    <li>Transactions</li>
    <li class="active">Transaction Detail Page</li>
{% endblock %}

{% block pageheader %}
    <h1>        
        <a href="{% url "employers_transactions_list" %}">Transactions</a>        
        <small>
            <i class="icon-double-angle-right"></i>
            Transaction Detail Page
        </small>
    </h1>
{% endblock %}

{% block content %}
    {{ block.super }}


    <div class="row">
    <div class="col-xs-12">

        <div class="tabbable">
	        <ul class="nav nav-tabs padding-16">
	            <li class="active">
	                <a data-toggle="tab" href="#transaction-detail">
	                    <i class="green icon-edit bigger-125"></i>
	                    Transaction
	                </a>
	            </li>
	            <li class="">
	                <a data-toggle="tab" href="#transaction-timeentry">
	                    <i class="purple icon-map-marker bigger-125"></i>
	                    Time Entry
	                </a>
	            </li>
	            <li class="">
	                <a data-toggle="tab" href="#transaction-job">
	                    <i class="purple icon-map-marker bigger-125"></i>
	                    Job
	                </a>
	            </li>

	        </ul>

	        <div class="tab-content profile-edit-tab-content">

	            {# Transaction Information #}

	            <div id="transaction-detail" class="tab-pane active">
	            	<br/>
	                <div class="profile-info-row">
		                <div class="profile-info-name">Session</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.session }}</span>
		                </div>
		            </div>

		            <div class="profile-info-row">
		                <div class="profile-info-name">Linked</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.linked }}</span>
		                </div>
		            </div>

		            <div class="profile-info-row">
		                <div class="profile-info-name">Proofed</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.proofed }}</span>
		                </div>
		            </div>
		            <div class="profile-info-row">
		                <div class="profile-info-name">Paid</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.paid }}</span>
		                </div>
		            </div>

		            <div class="profile-info-row">
		                <div class="profile-info-name">Invoiced</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.invoiced }}</span>
		                </div>
		            </div>

		            <div class="profile-info-row">
		                <div class="profile-info-name">Posted</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.posted }}</span>
		                </div>
		            </div>
	            </div>

	            {# TimeEntry Information #}

	            <div id="transaction-timeentry" class="tab-pane">
	            	<br/>
	                <div class="profile-info-row">
		                <div class="profile-info-name">Job</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.timeentry.job }}</span>
		                </div>
		            </div>

		            <div class="profile-info-row">
		                <div class="profile-info-name">Bill Rate</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.timeentry.bill_rate }}</span>
		                </div>
		            </div>

		            <div class="profile-info-row">
		                <div class="profile-info-name">WE Bill</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.timeentry.we_bill }}</span>
		                </div>
		            </div>
		        </div>
		            
	            {# Job Information #}

	            <div id="transaction-job" class="tab-pane">
	            	<br/>
	            	<div class="profile-info-row">
		                <div class="profile-info-name">Employer</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.timeentry.job.employer }}</span>
		                </div>
		            </div>

		            <div class="profile-info-row">
		                <div class="profile-info-name">Employee</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.timeentry.job.employee }} </span>
		                </div>
		            </div>
		            <br/>
	                <div class="profile-info-row">
		                <div class="profile-info-name">Name</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.timeentry.job.name }}</span>
		                </div>
		            </div>

		            <div class="profile-info-row">
		                <div class="profile-info-name">Length</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.timeentry.job.weeks }} Weeks, {{ transaction.timeentry.job.days }} Days </span>
		                </div>
		            </div>

		            <div class="profile-info-row">
		                <div class="profile-info-name">Budget</div>

		                <div class="profile-info-value">
		                    <span class="" id="transaction-id">{{ transaction.timeentry.job.budget }}</span>
		                </div>
		            </div>

	            </div>

	        </div>
	    </div>
    
    </div>
    </div>
{% endblock %}