{% extends "agencies/base.html" %}
{% load static from staticfiles %}
{% load form %}

{% block title %}Tempsurge Profile Update{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="icon-home home-icon"></i>
        <a href="/">Home</a>
    </li>
    <li class="active">Profile Update</li>
{% endblock %}

{% block pageheader %}
    <h1>
        Profile
        <small>
            <i class="icon-double-angle-right"></i>
            update
        </small>
    </h1>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="row">
        <div class="col-xs-12">
            {% if user_form.errors or profile_form.errors %}
                {% include "tempsurge/components/alert.html" with connotation="danger" message="Please check the errors below." %}
            {% endif %}

            {% if messages %}
                {% for message in messages %}
                    {% if message.extra_tags == "account_activated" or message.extra_tags == "profile_updated" or message.extra_tags == "email_changed" %}
                        {% include "tempsurge/components/alert.html" with connotation="success" message=message %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            <form action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">{% csrf_token %}
                {% include "tempsurge/forms/field.html" with field=user_form.first_name %}
                {% include "tempsurge/forms/field.html" with field=user_form.last_name %}
                {% include "tempsurge/forms/field.html" with field=profile_form.gender %}
                {% include "tempsurge/forms/field.html" with field=profile_form.address_line_1 %}
                {% include "tempsurge/forms/field.html" with field=profile_form.address_line_2 %}
                {% include "tempsurge/forms/field.html" with field=profile_form.date_of_birth %}
                {% include "tempsurge/forms/field.html" with field=profile_form.country %}
                {% include "tempsurge/forms/field.html" with field=profile_form.city %}
                {% include "tempsurge/forms/field.html" with field=profile_form.phone %}
                {% include "tempsurge/forms/field.html" with field=user_form.email %}
                {% include "tempsurge/forms/field.html" with field=profile_form.biography no_space=True %}
                {% include "tempsurge/forms/submit.html" %}
            </form>
        </div>
    </div>
{% endblock %}

{% block foot %}
    <script src="{% static "accounts/javascripts/app.js" %}"></script>
{% endblock %}