{% extends "agencies/base.html" %}
{% load static from staticfiles %}
{% load form %}

{% block title %}Tempsurge - Time Entry Update{% endblock %}

{% block breadcrumb %}
    <li>
        <i class="icon-home home-icon"></i>
        <a href="/">Home</a>
    </li>
    <li>Time Entry</li>
    <li class="active">Update</li>
{% endblock %}

{% block pageheader %}
    <h1>
    	<a href="{% url "agencies_timeentries_list" %}">Time Entry</a>
    	
        <small>
            <i class="icon-double-angle-right"></i>
            Time Entry #{{identifier}}
            <i class="icon-double-angle-right"></i>
            Update
        </small>
    </h1>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "vendor/ace/css/chosen.min.css" %}"/>

    <style>
    </style>
{% endblock %}

{% block content %}
    {{ block.super }}

    <a href="{% url 'agencies_timeentries_backtosearch' %}">Back to Search</a>
    <p class="text-right">
        <a href="{% url "agencies_timeentries_detail" identifier %}" class="btn btn-xs btn-success">
            Detail
        </a>                                
        <a href="{% url "agencies_assignments_update" timeentry.assignment.order.id timeentry.assignment.id %}" class="btn btn-xs btn-success">
            View Assignment
        </a>
        <a href="{% url "agencies_temps_show" timeentry.assignment.employee.user.id %}" class="btn btn-xs btn-success">
            View Employee
        </a>
        <a href="{% url "agencies_orders_update" timeentry.assignment.order.id %}" class="btn btn-xs btn-success">
            View Order
        </a>        
        {% if timeentry.status_id == 2 %}
        <a href="{% url "agencies_timeentries_approve" identifier %}" class="btn btn-xs btn-info">
            Proof
        </a>
        {% endif %}
        {% if timeentry.status_id == 3 %}
        <a href="{% url "agencies_timeentries_runpayroll" identifier %}" class="btn btn-xs btn-info">
            Payroll Run
        </a>
        {% endif %}
        {% if timeentry.status_id == 4 %}
        <a href="{% url "agencies_timeentries_runinvoice" identifier %}" class="btn btn-xs btn-info">
            Invoice Run
        </a>
        {% endif %}
    </p>


    <div class="row">
        <div class="col-xs-12">
            {% if timeentry_form.errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>

                    <strong>
                        <i class="icon-remove"></i>
                        Error!
                    </strong>
                    {{ timeentry_form.errors }}
                    Please check the highlighted fields.
                    <br>
                </div>
            {% endif %}

            <form action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">{% csrf_token %}

                <div style="display:none;">
                        {% include "tempsurge/forms/field.html" with field=timeentry_form.assignment %}
                        {% include "tempsurge/forms/field.html" with field=timeentry_form.we_bill %}
                        {% include "tempsurge/forms/field.html" with field=timeentry_form.we_date %}
                        {% include "tempsurge/forms/field.html" with field=timeentry_form.inv_date %}
                        {% include "tempsurge/forms/field.html" with field=timeentry_form.status %}
                </div>

                <div class="tabbable">
                    <ul class="nav nav-tabs padding-16">
                        <li class="active">
                            <a data-toggle="tab" href="#timeentry-detail-job">
                                <i class="green icon-edit bigger-125"></i>
                                Job
                            </a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#timeentry-detail-payroll">
                                <i class="blue icon-key bigger-125"></i>
                                Payroll Info
                            </a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#timeentry-detail-rates">
                                <i class="blue icon-key bigger-125"></i>
                                Rates
                            </a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#timeentry-detail-hourly">
                                <i class="purple icon-map-marker bigger-125"></i>
                                Hourly
                            </a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#timeentry-detail-salary">
                                <i class="purple icon-tags bigger-125"></i>
                                Salary
                            </a>
                        </li>

                        <li class="">
                            <a data-toggle="tab" href="#timeentry-detail-units">
                                <i class="purple icon-money bigger-125"></i>
                                Units
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content profile-edit-tab-content">
                        {# Order Information #}

                        <div id="timeentry-detail-job" class="tab-pane active">
                            <br/>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Employee</div>

                                <div class="profile-info-value">
                                    <span class="">{{ timeentry.assignment.employee }}</span>
                                </div>
                            </div>

                            <br/>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Customer</div>

                                <div class="profile-info-value">
                                    <span class="">{{ timeentry.assignment.order.customerdepartment.customer }}</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Department</div>

                                <div class="profile-info-value">
                                    <span class="">{{ timeentry.assignment.order.customerdepartment.depname }}</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Job Title</div>

                                <div class="profile-info-value">
                                    <span class="">{{ timeentry.assignment.order.job_title }}</span>
                                </div>
                            </div>

                            
                            <br/>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Status</div>

                                <div class="profile-info-value">
                                    <span class=""> 
                                    {{ timeentry.status }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        {# Payroll Info #}

                        <div id="timeentry-detail-payroll" class="tab-pane">
                            <br/>
                            <div class="profile-info-row">
                                <div class="profile-info-name">WE Bill</div>

                                <div class="profile-info-value">
                                    <span class="">{{ timeentry.we_bill }}</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">WE Date</div>

                                <div class="profile-info-value">
                                    <span class="">{{ timeentry.we_date }}</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.work_date %}
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Inv Date</div>

                                <div class="profile-info-value">
                                    <span class="">{{ timeentry.inv_date }}</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.pay_code %}
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.pay_roll %}
                            </div>

                            
                        </div>

                        {# Rates #}

                        <div id="timeentry-detail-rates" class="tab-pane">                  
                            <br/>
                            <br/>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.bill_rate %}
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.ot_bill %}
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.dt_bill %}
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.pay_rate %}
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.ot_pay %}
                            </div>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.dt_pay %}
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Adj Gross</div>

                                <div class="profile-info-value">
                                    <span class="">{{ timeentry.adj_gross }}</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                <div class="profile-info-name">Adj Net</div>

                                <div class="profile-info-value">
                                    <span class="">{{ timeentry.adj_net }}</span>
                                </div>
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.ot_plan %}
                            </div>

                        </div>

                        {# Hourly #}

                        <div id="timeentry-detail-hourly" class="tab-pane">
                            <br/>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.hours_regular %}
                            </div>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.hours_overtime %}
                            </div>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.hours_doubletime %}
                            </div>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.number_of_days %}
                            </div>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.hours_day1 %}
                            </div>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.hours_day2 %}
                            </div>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.hours_day3 %}
                            </div>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.hours_day4 %}
                            </div>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.hours_day5 %}
                            </div>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.hours_day6 %}
                            </div>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.hours_day7 %}
                            </div>
                            
                        </div>

                        {# Salary #}

                        <div id="timeentry-detail-salary" class="tab-pane">
                            <br/>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.salary %}
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.bill_amount %}
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.hours_total_regular %}
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.salary_approved %}
                            </div>
                        </div>

                        {# Units #}

                        <div id="timeentry-detail-units" class="tab-pane">                  
                            <br/>
                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.units %}
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.units_bill %}
                            </div>

                            <div class="profile-info-row">
                                {% include "tempsurge/forms/field.html" with field=timeentry_form.units_pay %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="icon-ok bigger-110"></i>
                            Save
                        </button>

                        &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block foot %}
    <script src="{% static "vendor/ace/js/chosen.jquery.min.js" %}"></script>

    <script type="text/javascript">
    </script>
{% endblock %}